.sslcommerz-quickpay{
	margin: auto;
  	width: 70%;
  	padding: 10px;
}
.sslcom-required{
	font-size: 13px;
	color: red;
}
.sslcom-text-field{
	height: 39px;
	width: 100%;
	font-size: 13px;
}
.sslcom-text-area{
	width: 100%;
	font-size: 13px;
}
.sslcom-amount-field{
	height: 39px;
	width: 60%;
	font-size: 13px;
}
.sslcom-currency-field
{
	height: 39px;
	width: 38%;
	margin-left: 1%;
	font-size: 13px;
}
.sslc-inline p {
	display: inline-block;
    vertical-align: top;
}
.half-email{
	width: 55%;
}
.half-phone{
	width: 43%;
	margin-left: 1%;
}
.field-validation{
	border: 1px dotted red;
	padding: 4px;
	color: red;
	font-weight: bold;
}
.validation-ok{
	border: 1px dotted green;
	padding: 4px;
	color: green;
	font-weight: bold;
}
.paymentclass{
	border: 1px solid #40004c; 
	padding: 10px; 
	border-radius: 1px;
	box-shadow: 1px 2px 10px lavender;
}
.pyment-radio{
	font-size: 16px;
	font-weight: bold;
}
.imgclass:hover{
	transform: scale(1.05);
}
.imgclass {
  transition: transform .5s ease;
  padding: 1px;
}
.paybtn{
	width: 100%;
	border: 0px;
}
@media only screen and (max-width: 900px) {
	.sslcommerz-quickpay{
		margin: auto;
	  	width: 100%;
	  	padding: 10px;
	}

	.sslcom-text-field{
		height: 39px;
		width: 100%;
	}

	.sslcom-text-area{
		width: 100%;
	}
	.sslcom-amount-field{
		height: 39px;
		width: 100%;
	}
	.sslcom-currency-field
	{
		height: 39px;
		width: 100%;
		margin-top: 4%;
		margin-left: 0%;
	}

	.half-email{
		width: 100%;
	}
	.half-phone{
		width: 100%;
		margin-left: 1%;
		/*margin-top: 4%;*/
		margin-left: 0%;
	}
}